.sampleText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: aquamarine;
    width: 200px;
    border: solid 3px #000;
}
#yahid{
    color: red;
}